@import url('https://fonts.googleapis.com/css2?family=Noto Sans Thai');

:root {
    --modal-duration: 1s;
    --modal-color: #23272b;
  }
  
  .button {
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
  }
  
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif;
  }
  
  
  body{
    background: #e6e7e6;
  }
  
  .header{
    width: 1000px;
    padding: 20px;
    background: #7690da;
    margin: 25px auto;
    border-radius: 5px;
    text-align: center;
  }
  
  .header p{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }
  
  .container .input{
    border: 0;
    outline: none;
    color: #8b7d77;
  }
/* ช่อง Serach */  
  .search_wrap{
    width: 600px;
    margin: 15px auto;
  }
  
  .search_wrap .search_box{
    position: relative;
    width: 250px;
    height: 48px;
  }
  
  .search_wrap .search_box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
  }
  
  .search_wrap .search_box .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
    background: #8cc7a2;
    z-index: 1;
    cursor: pointer;
  }
  
  .search_wrap .search_box .btn:hover{
    background: #2eb46b;	
  }
  
  .search_wrap .search_box .btn.btn_common .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
  }

  .search_wrap.search_wrap_3 .search_box .input{
    padding-right: 80px;
  }
  
  .search_wrap.search_wrap_3 .search_box .input{
    border-radius: 50px;
  }
  
  .search_wrap.search_wrap_3 .search_box .btn{
    right: 0px;
    border-radius: 50%;
  }

  .rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    text-transform: capitalize;
    padding: 2 30px 8%;
    color: gray;
  }
    
  label {
    float: right;
    padding: 2;
    font-size: 30px;
    cursor: pointer;
  }   
  label::before {
    content: "\2606";
    padding-bottom: 2px;
    display: inline-block;
    transition: 0.2s;
  } 
  .span1 {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 10px;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.10s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
  } 
  label:hover span {
    opacity: 1;
    transform: none;
    letter-spacing: 0;
  }
  input:checked ~ label::before {
    content: "\2605";
    color: rgb(252, 198, 49);
    filter: drop-shadow(0 0 2px);
    transform: rotate(.2turn);
    transition-delay: calc(0.1 * attr(data-idx integer));
  } 

.container1 {
  background-color: #e6e7e6;
  border: #ccc;
  text-align: center;
}

.navbar-nav a:before, 
.navbar-nav a:after
{
    position: absolute;
    left: 220px;
    width: 45%;
    height: 1px;
    background: #496e51;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navbar-nav .active-link {
  background-color: rgb(2, 0, 0);
  border: 2px solid black;
  color: black;
}

.navbar-nav a:before
{
    top: 0px;
    transform: translateY(-5px);
}

.navbar-nav a:after
{
    bottom: 0px;
    transform: translateY(5px);
}

.navbar-nav a:hover:before, 
.navbar-nav a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.navbar-nav li a:focus,
.navbar-nav li a.active {
  font-weight: bold;

}

.healthyfoodmain .titlepage {
  margin-top: 40px;
}

.healthyfoodmain .titlepage_img {
  margin-top: 20px;
}

.breakfast .Breakfast {
  margin-top: 20px;
}

.Popular {
  background: #cbd4cc;
  position: relative;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}




/* CSS */
.generateBtn {
  appearance: button;
  background-color: #7db690;
  border: solid transparent;
  border-radius: 30px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.generateBtn:after {
  background-clip: padding-box;
  background-color: #4d9e6c;
  border: solid transparent;
  border-radius: 30px;
  border-width: 0 0 4px;
  bottom: -2px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.generateBtn:main,
.generateBtn:focus {
  user-select: auto;
}

.generateBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.generateBtn:disabled {
  cursor: auto;
}